In [2]:
import twitter
import tweepy
from tweepy import API
from tweepy import Cursor
import numpy as np
from sqlalchemy import create_engine
import pandas as pd
import time
from time import sleep
import os
import requests
from bs4 import BeautifulSoup
import facebook
import os

ck = os.environ.get('CK')
cs = os.environ.get('CS')
atk = os.environ.get('ATK')
ats = os.environ.get('ATS')

# print(os.environ.get(ck))

auth = tweepy.OAuthHandler(ck, cs)
auth.set_access_token(atk, ats)
auth_api = API(auth)

api = tweepy.API(auth, wait_on_rate_limit=True)

token = os.environ.get('fb')

In [9]:
# Get a LIST of friends that you are following
list_of_friends_id = api.friends_ids()
print(len(list_of_friends_id))
list_of_friends_id[:5]

59

[19980499, 14940354, 20065936, 15492359, 788524]

In [ ]:
# To get the ids of people that are following you
x = api.followers_ids()
print(len(x))
x[:5]

In [ ]:
# Getting informations from other users timelines
y = api.user_timeline(15754281,count=5)
print(type(y),len(y))

In [ ]:
print(y[0].geo,y[0].id,y[0].favorite_count,y[0].retweet_count,y[0].lang)

In [ ]:
# my id
my_id = api.me().id
len(api.user_timeline(my_id))

In [ ]:
# Getting my id and taking info from it
my_id = api.me().id
y = api.user_timeline(my_id)
my_tweets_list = [i.id for i in y]

In [3]:
list_of_friends_id = api.friends_ids()

def create_df():
    df = pd.DataFrame(columns=np.arange(12))
    for user in list_of_friends_id[:5]:
        list_tweet = api.user_timeline(user,count=3,exclude_replies=True)
        for tweet in list_tweet:
            try:
                hashtags = ' '.join([i for i in tweet._json['text'].split() if i[0]=='#'])
                url=tweet._json['entities']['urls'][0]['url']
                page = requests.get(url)
                soup = BeautifulSoup(page.text, 'html.parser')
                h1 = '#news '+soup.find('h1').text.strip()
                list_values = [tweet.id, #0
                       tweet.geo, #1
                       tweet.favorite_count, #2
                       tweet.retweet_count, #3
                       tweet.lang, #4
                        user,  #5
                       tweet._json['user']['id'],  #6
                       tweet._json['text'],  #7
                       tweet._json['entities']['urls'][0]['url'],   #8
                       hashtags,  #9
                       h1+' '+url+' '+hashtags,       #10
                       tweet.favorite_count*tweet.retweet_count, #11
                      ]
                df.loc[len(df)] = list_values
            except:
                pass

    df[11]=df[2]+df[3]*2   #scoring of the tweets
    df = df[df[4]=='en']
    df[12] = [False if i[:2]=='RT' else True for i in df[7]]
    df = df.sort_values(by=11,ascending=False)
    df = df[df[12]]
    print(df.shape)
    return df

In [14]:
def post_tweet(df):
    counter_tweet = 0
    for i in list(df.index):
        try:
            api.update_status(df.loc[i][10])
            counter_tweet+=1
            print(time.ctime(),counter_tweet)
            time.sleep(180)
        except:
            pass

In [ ]:
tweet_counter=0
while tweet_counter<6:
    df = create_df()
    post_tweet(df)
    if tweet_counter==5:
        tweet_counter=0

Fri Jun  7 22:38:43 2019 1

In [ ]:
theupdate_at_work()

(8, 13)
(8, 13)
(8, 13)
(7, 13)

In [5]:
import time

'Fri Jun  7 22:22:56 2019'

In [51]:
df = pd.DataFrame(columns=np.arange(12))
for user in list_of_friends_id[:5]:
    list_tweet = api.user_timeline(user,count=5,exclude_replies=True)
    for tweet in list_tweet:
        try:
            hashtags = ' '.join([i for i in tweet._json['text'].split() if i[0]=='#'])
            url=tweet._json['entities']['urls'][0]['url']
            page = requests.get(url)
            soup = BeautifulSoup(page.text, 'html.parser')
            h1 = '#news '+soup.find('h1').text.strip()
            list_values = [tweet.id, #0
                               tweet.geo, #1
                               tweet.favorite_count, #2
                               tweet.retweet_count, #3
                               tweet.lang, #4
                                user,  #5
                               tweet._json['user']['id'],  #6
                               tweet._json['text'],  #7
                               tweet._json['entities']['urls'][0]['url'],   #8
                               hashtags,  #9
                               h1+' '+url+' '+hashtags,       #10
                               tweet.favorite_count*tweet.retweet_count, #11
                              ]
            print(list_values)
            df.loc[len(df)] = list_values
        except:
            
            pass
print(df)
df = df[df[4]=='en']
df[12] = [False if i[:2]=='RT' else True for i in df[7]]
df = df.sort_values(by=11,ascending=False)
df = df[df[12]]
print(df.shape)

[1137051028464054278, None, 107, 11, 'und', 19980499, 19980499, 'ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ https://t.co/GHThO9sBRm', 'https://t.co/GHThO9sBRm', '', '#news Novak DjokovicVerifizierter Account https://t.co/GHThO9sBRm ', 1177]
[1136887753474359296, None, 0, 33, 'en', 14940354, 14940354, 'RT @lemieuxdavid: This is a great one! https://t.co/PgjSxSCcKB', 'https://t.co/PgjSxSCcKB', '', '#news Grateful DeadVerifizierter Account https://t.co/PgjSxSCcKB ', 0]
[1136767285002231808, None, 45, 14, 'en', 14940354, 14940354, 'R.I.P. Dr. John. Pianist, singer Mac Rebennack, an icon of New Orleans music, has died. https://t.co/rXtW0XnHOO', 'https://t.co/rXtW0XnHOO', '', "#news Pianist, singer Mac 'Dr. John' Rebennack, an icon of New Orleans music, has died at 77 https://t.co/rXtW0XnHOO ", 630]
[1136617756722454528, None, 1, 3, 'en', 14940354, 14940354, 'Apple is reportedly buying self-driving startup https://t.co/DjinnsL6iX. https://t.co/4f3PNncTvE https://t.co/7xfVb60Cy1', 'https://t.co/DjinnsL6iX', '', '#news The Self-Driving Car is Here https://t.co/DjinnsL6iX ', 3]
[1137077522368212992, None, 3, 0, 'en', 20065936, 20065936, 'The Best Way to Wash Your Fruits and Veggies â€” https://t.co/sxDrOq32Uu', 'https://t.co/sxDrOq32Uu', '', '#news The Best Way to Wash Your Fruits and Veggies https://t.co/sxDrOq32Uu ', 0]
[1137069968900743174, None, 0, 0, 'en', 20065936, 20065936, "Friday's Best Amazon Deals Include K-Cups and Smart Doorbells â€” https://t.co/t1ng8zfbT1", 'https://t.co/t1ng8zfbT1', '', "#news Friday's Best Amazon Deals Include K-Cups and Smart Doorbells https://t.co/t1ng8zfbT1 ", 0]
[1137047329926733825, None, 6, 1, 'en', 20065936, 20065936, 'Frontier Communications Wants to Pay You $1000 to Swap Your Smartphone for a Flip Phone for a Week â€” https://t.co/Hf6XtSh41q', 'https://t.co/Hf6XtSh41q', '', '#news Frontier Communications Wants to Pay You $1000 to Swap Your Smartphone for a Flip Phone for a Week https://t.co/Hf6XtSh41q ', 6]
[1137034041390247937, None, 3, 1, 'en', 20065936, 20065936, '5 Ways Hacking Will Evolve in the Future â€” https://t.co/8s9t1cje1J // Presented by @Discover https://t.co/wQ9B1XVmBO', 'https://t.co/8s9t1cje1J', '', '#news 5 Ways Hacking Will Evolve in the Future https://t.co/8s9t1cje1J ', 3]
[1137017124440956929, None, 5, 3, 'en', 20065936, 20065936, 'The 50 Highest-Paying College Majors for 2019 â€” https://t.co/I3C9qRooVp', 'https://t.co/I3C9qRooVp', '', '#news The 50 Highest-Paying College Majors for 2019 https://t.co/I3C9qRooVp ', 15]
[1137076911585333248, None, 110, 26, 'en', 15492359, 15492359, "Why are straight women having less satisfying sex than men? Let's talk about the orgasm gap. https://t.co/iV9NTd7Qao", 'https://t.co/iV9NTd7Qao', '', '#news We need to talk about the orgasm gap â€” and how to fix it https://t.co/iV9NTd7Qao ', 2860]
[1137089621224017923, None, 0, 0, 'en', 788524, 788524, 'England look to Harry Winks to transform midfield exposed by De Jong https://t.co/6xb3eUIRi3', 'https://t.co/6xb3eUIRi3', '', '#news England look to Harry Winks to transform midfield exposed by De Jong https://t.co/6xb3eUIRi3 ', 0]
[1137086993731661827, None, 3, 2, 'en', 788524, 788524, "'I've paid a huge personal cost:' Google walkout organizer resigns over alleged retaliation https://t.co/hvWNGQhNd3", 'https://t.co/hvWNGQhNd3', '', "#news 'I've paid a huge personal cost:' Google walkout organizer resigns over alleged retaliation https://t.co/hvWNGQhNd3 ", 6]
[1137084653372878849, None, 8, 3, 'en', 788524, 788524, 'Chess: Armageddon divides fans while Magnus Carlsen leads again in Norway https://t.co/FZ6WnOYoEa', 'https://t.co/FZ6WnOYoEa', '', '#news Chess: Armageddon divides fans while Magnus Carlsen leads again in Norway https://t.co/FZ6WnOYoEa ', 24]
[1137082167505444865, None, 5, 1, 'en', 788524, 788524, "Maths lecturer sacked for writing 'racist' on anti-extremism poster https://t.co/9Amcb0aNlu", 'https://t.co/9Amcb0aNlu', '', "#news Maths lecturer sacked for writing 'racist' on anti-extremism poster https://t.co/9Amcb0aNlu ", 5]
[1137079954297053185, None, 21, 10, 'en', 788524, 788524, 'Muslim Council asks why Sajid Javid was excluded from Trump banquet https://t.co/Qqf4zdB68Y', 'https://t.co/Qqf4zdB68Y', '', '#news Muslim Council asks why Trump banquet excluded Sajid Javid https://t.co/Qqf4zdB68Y ', 210]
                     0     1    2   3    4         5         6   \
0   1137051028464054278  None  107  11  und  19980499  19980499
1   1136887753474359296  None    0  33   en  14940354  14940354
2   1136767285002231808  None   45  14   en  14940354  14940354
3   1136617756722454528  None    1   3   en  14940354  14940354
4   1137077522368212992  None    3   0   en  20065936  20065936
5   1137069968900743174  None    0   0   en  20065936  20065936
6   1137047329926733825  None    6   1   en  20065936  20065936
7   1137034041390247937  None    3   1   en  20065936  20065936
8   1137017124440956929  None    5   3   en  20065936  20065936
9   1137076911585333248  None  110  26   en  15492359  15492359
10  1137089621224017923  None    0   0   en    788524    788524
11  1137086993731661827  None    3   2   en    788524    788524
12  1137084653372878849  None    8   3   en    788524    788524
13  1137082167505444865  None    5   1   en    788524    788524
14  1137079954297053185  None   21  10   en    788524    788524

                                                   7   \
0                       ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ https://t.co/GHThO9sBRm
1   RT @lemieuxdavid: This is a great one! https:/...
2   R.I.P. Dr. John. Pianist, singer Mac Rebennack...
3   Apple is reportedly buying self-driving startu...
4   The Best Way to Wash Your Fruits and Veggies â€”...
5   Friday's Best Amazon Deals Include K-Cups and ...
6   Frontier Communications Wants to Pay You $1000...
7   5 Ways Hacking Will Evolve in the Future â€” htt...
8   The 50 Highest-Paying College Majors for 2019 ...
9   Why are straight women having less satisfying ...
10  England look to Harry Winks to transform midfi...
11  'I've paid a huge personal cost:' Google walko...
12  Chess: Armageddon divides fans while Magnus Ca...
13  Maths lecturer sacked for writing 'racist' on ...
14  Muslim Council asks why Sajid Javid was exclud...

                         8  9   \
0   https://t.co/GHThO9sBRm
1   https://t.co/PgjSxSCcKB
2   https://t.co/rXtW0XnHOO
3   https://t.co/DjinnsL6iX
4   https://t.co/sxDrOq32Uu
5   https://t.co/t1ng8zfbT1
6   https://t.co/Hf6XtSh41q
7   https://t.co/8s9t1cje1J
8   https://t.co/I3C9qRooVp
9   https://t.co/iV9NTd7Qao
10  https://t.co/6xb3eUIRi3
11  https://t.co/hvWNGQhNd3
12  https://t.co/FZ6WnOYoEa
13  https://t.co/9Amcb0aNlu
14  https://t.co/Qqf4zdB68Y

                                                   10    11
0   #news Novak DjokovicVerifizierter Account http...  1177
1   #news Grateful DeadVerifizierter Account https...     0
2   #news Pianist, singer Mac 'Dr. John' Rebennack...   630
3   #news The Self-Driving Car is Here https://t.c...     3
4   #news The Best Way to Wash Your Fruits and Veg...     0
5   #news Friday's Best Amazon Deals Include K-Cup...     0
6   #news Frontier Communications Wants to Pay You...     6
7   #news 5 Ways Hacking Will Evolve in the Future...     3
8   #news The 50 Highest-Paying College Majors for...    15
9   #news We need to talk about the orgasm gap â€” a...  2860
10  #news England look to Harry Winks to transform...     0
11  #news 'I've paid a huge personal cost:' Google...     6
12  #news Chess: Armageddon divides fans while Mag...    24
13  #news Maths lecturer sacked for writing 'racis...     5
14  #news Muslim Council asks why Trump banquet ex...   210
(13, 13)

In [43]:
df = pd.DataFrame(columns=np.arange(12))

In [49]:
df.loc[len(df)] = [1137051028464054278, None, 106, 11, 'und', 19980499, 19980499, 'ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ https://t.co/GHThO9sBRm', 'https://t.co/GHThO9sBRm', '', '#news Novak DjokovicVerifizierter Account https://t.co/GHThO9sBRm ', 1166]

In [50]:
df.shape

(5, 12)

In [ ]:
df = pd.DataFrame(columns=np.arange(11))

In [22]:
np.arange(10,21)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [24]:
len(df)

0

In [29]:
df.loc[len(df)]=np.arange(11)

In [30]:
df

  0  1  2  3  4  5  6  7  8  9   10
0  0  1  2  3  4  5  6  7  8  9  10
1  0  1  2  3  4  5  6  7  8  9  10
2  0  1  2  3  4  5  6  7  8  9  10

In [ ]:
tweet = api.user_timeline(15754281,count=3,exclude_replies=True)

In [ ]:
tweet[0]._json['entities']['urls'][0]

In [ ]:
tweet[0]._json['entities']['urls'][0]['url']

In [ ]:
import selenium

In [ ]:
df.shape

In [ ]:
url='https://t.co/Lf6AqowKyN'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [ ]:
'#news '+soup.find('h1').text.strip()

In [ ]:
api.update_status(('#news '+soup.find('h1').text.strip()+' '+url))

In [ ]:
df = pd.DataFrame(columns=np.arange(11))
for user in list_of_friends_id[:5]:
    list_tweet = api.user_timeline(user,count=3,exclude_replies=True)
    for tweet in list_tweet:
        try:
            hashtags = ' '.join([i for i in tweet._json['text'].split() if i[0]=='#'])
            url=tweet._json['entities']['urls'][0]['url']
            page = requests.get(url)
            soup = BeautifulSoup(page.text, 'html.parser')
            h1 = '#news '+soup.find('h1').text.strip()

            df.loc[len(df)] = [tweet.id, #0
                               tweet.geo, #1
                               tweet.favorite_count, #2
                               tweet.retweet_count, #3
                               tweet.lang, #4
                                user,  #5
                               tweet._json['user']['id'],  #6
                               tweet._json['text'],  #7
                               tweet._json['entities']['urls'][0]['url'],   #8
                               hashtags,  #9
                               h1+' '+url+' '+hashtags]        #10
        except:
            pass
print(df.shape)
df[11]=df[2]+df[3]*2   #scoring of the tweets
df = df[df[4]=='en']
df[12] = [False if i[:2]=='RT' else True for i in df[7]]
df = df.sort_values(by=11,ascending=False)
df = df[df[12]]

In [ ]:
df.index

In [ ]:
df.head(2)

In [ ]:
df.loc[7][10]

In [ ]:
df[10][0]

In [ ]:
np.arange(10)

In [ ]:
' '.join([i for i in df[7][23].split() if i[0]=='#'])

In [ ]:
df.head(2)